* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.u {
  text-transform: uppercase;
}
.black  {
  color: #000;
}
.white  {
  color: #FFFFFF;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

#home {
  height: 100vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('pexels-kai-pilger-996329.jpg');
  display: table;
}

.blur {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0.6;
  top: 0;
  left: 0;
  background-color: rgb(49, 49, 49);
  display: table;
}

.content-relative {
  position: relative;
}

header {
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 30px 100px;
}
.nav-title {
  color: #FFFFFF;
  font-size: 20px;
  line-height: 25px;
  font-weight: 600;
}
.brand-color {
  color: #FF214F;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li a {
  color: #FFFFFF;
  font-size: 15px;
  line-height: 25px;
  font-weight: 400;
  padding: 20px 20px;
}

nav ul li a:hover {
  color: #b1b1b1;
  cursor: pointer;
}

.home-content {
  width: 100%;
  padding-top: 90px;
  text-align: center;
}
.home-title {
  font-size: 95px;
  line-height: 110px;
  letter-spacing: 4px;
  color: #FFFFFF;
  font-weight: 800;
  padding: 0 25%;
  text-align: center;
}
.home-subtitle {
  font-size: 17px;
  line-height: 40px;
  color: #FFFFFF;
  font-weight: 500;
  padding: 10px 25%;
}
.button-1 {
  text-align: center;
  margin-top: 30px;
}
.button-1 a {
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
  padding: 10px 25px;
  font-size: 12px;
  font-weight: 600;
}

.button-1 a:hover {
  background-color: #FFFFFF;
  color: #000;
  transition: .5s;
  cursor: pointer;
}

#about {
  height: 100vh;
  width: 100%;
  padding: 80px 0;
  background-color: #FFFFFF;
  display: table;
}

.page-title {
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  padding: 20px 0;
}

.page-info {
  font-size: 28px;
  font-weight: 400;
  text-align: center;
  width: 60%;
  margin: 0 20%;
}
.svg {
  height: 60px;
  width: 60px;
}

.component-sec{
  display: flex;
  margin: 80px 80px 0 80px;
}
.about-box {
  padding: 30px 0;
  text-align: center;
  border: none;
}
.about-box:hover {
  border: 1px solid #b1b1b1;
  transition: .5s;
}

.box-title {
  font-weight: 600;
  font-size: 15px;
  margin: 20px 0;
}
.box-description {
  color: #878791;
  font-weight: 400;
  font-size: 13px;
  margin: 0px 40px;
}

#products {
  height: 100vh;
  width: 100%;
  padding: 80px 0;
  background-color: #0c0c0c;
  display: table;
}

.product-box{
  text-align: center;
  height: 700px;
  display: table;
  margin: 0 40px;
  border: 1px solid #b1b1b1 ;
  border-radius: 10px;
}

.product-box img {
  height: 500px;
  width: 100%;
  border-radius: 10px;
}

.color-div { 
  display: flex;
  text-align: center;
}
.color-1 {
  background-color: rgb(53, 53, 53);
  border-radius: 50%;
  height: 20px;
  width: 20px;
  margin: 20px 5px;
  cursor: pointer;
}
.color-2 {
  background-color: rgb(255, 23, 23);
  border-radius: 50%;
  height: 20px;
  width: 20px;
  margin: 20px 5px;
  cursor: pointer;
}
.color-3 {
  background-color: rgb(43, 28, 255);
  border-radius: 50%;
  height: 20px;
  width: 20px; 
  margin: 20px 5px;
  cursor: pointer;
}

.footer {
  color: #000;
  background-color: #FFFFFF;
  font-size: 15px;
  font-weight: 600;
  line-height: 100px;
  text-align: center;
}